/*------  Recommandations  ------*/ 

article {
	background-color: rgb(245, 245, 245);
	border-style: solid;
	border-color: rgb(240, 240, 240);
	border-radius: 6px;
	padding: 1em;
	margin: 1.5em;
	display: inline-block;
	max-width: 98vw;
	min-width: 270px;
}

.example{
	background-color: rgb(221, 221, 221);
	border-color: rgb(216, 216, 216);
}

.rating{
    /*background-color: rgb(202, 243, 212);*/
	background-color: rgb(157, 181, 238);
    border-style: solid;
    /*border-color: rgb(156, 233, 175);*/
	border-color: rgb(140, 165, 222);
    border-radius: 50px;
	padding: 0.4em;
}

img {
	height: 1.5em;
	margin: 0.3em 0em 0.3em 0.3em;
	position: relative;
	top: 0.6em;
	right: 0.3em;
}

div, p {
	display: inline;
}
/*
div.advice p {				/* Selects all <p> elements inside <div> elements with class=advice/
	color: brown;
}*/

/*------  Boutons  ------*/ 

.add {
	background-color: rgb(250, 250, 250);
	border-style: solid;
	border-color: rgb(152, 152, 152);
	border-radius: 50%;
	color:rgb(250, 250, 250);
}

/*.add:hover {
	background-color: rgb(221, 221, 221);
	color: rgb(221, 221, 221);
}*/

.add:hover {
	background-color: rgb(140, 165, 222);
	color: rgb(140, 165, 222);
	border-color: rgb(152, 152, 152);
}