article {
	background-color: rgb(245, 245, 245);
	border-style: solid;
	border-color: rgb(238, 238, 238);
	border-radius: 10px;
	padding: 10px;
	margin: 15px;
	display: inline-block;
	max-width: 98vw;
	min-width: 270px;
}

.rating{
    background-color: rgb(202, 243, 212);
    border-style: solid;
    border-color: rgb(156, 233, 175);
    border-radius: 50px;
}

img {
	height: 1.5em;
	margin: 0.3em 0.1em 0.3em 0.3em;
}

div, p {
	display: inline;
}